body{
    background-color: black;
}


.home {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 300px;
}
.homeHover {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 300px;
    opacity: 0;
}
    .homeButton:hover .homeHover {
        position: absolute;
        top: 10px;
        left: 30px;
        width: 300px;
        opacity: 1;
    }

.gif img{
    position: absolute;
    top: 30px;
    left: 360px;
    width: 270px;
    transform: rotate(2deg);
}
.photo img{
    position: absolute;
    top: 200px;
    left: 120px;
    width: 480px;
    transform: rotate(-7deg);
}

.anteater img{
    position: absolute;
    top: 60px;
    left: 870px;
    width: 670px;
}

.description{
    position:absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    top: 50px;
    left: 650px;
    width: 30vw;
    padding-bottom: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.name {
    margin-bottom: 40px;
}
.author{
    color: white;
    margin-bottom: 20px;
    text-align: right;
}
.albums{
    position:absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    left: 400px;
    top: 660px;
    transform: rotate(-1deg);
}
.albumGrid{
    display: flex;
}
.albums img{
    width: 240px;
    margin: 10px;
}
    .albums img:hover {
        transform: rotate(2deg);
    }
.albumGrid p{
    max-width: 160px;
}
.albumGrid a:link{
    text-decoration: underline;
    color: white;
}
.albumGrid a:visited{
    text-decoration: underline;
    color: white;
}
.albumGrid a:hover{
    text-decoration-style: wavy;
    color: white;
}
.gif2{
    position: absolute;
    top: 800px;
    left: 10px;
}
.gif2 img{
    width: 300px;
    transform: rotate(3deg);
}
.interview{
    position: absolute;
    color: white;
    top: 1080px;
    left: 350px;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
}